

.cm-middle{
     width: 100%;
     height: 638px;
}

.cm-middle-son{
    margin: 0 auto;
    padding: 0;
    width: 1080px;
    height: 488px;
}

.cm-middle-all{
    width: 50%;
    height: 100%;

    float: left;
}

.cm-middle-left{
    margin: 0 19px;

    width: 502px;
    height: 100%;
}

.cm-middle-right{
    margin: 25px 25px 0 50px;

    background-color: rgba(239, 244, 255, 0.2);
    height: 240px;
    width: 300px;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 1);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
}

/*div.cm-middle-right:hover{*/
    /*border: 1px dashed rgba(89, 139, 255, 0.5);*/
/*}*/

.cm-middle-row{
    width: 100%;
    height: 50px;
}

.cm-middle-row-useless{
    width: 100%;
    height: 25px;
}

.cm-middle-row-useless-left{
    width: 126px;
    height: 25px;
    float: left;
}

.cm-middle-row-useless-right{
    width: 300px;
    height: 25px;
    float: left;
}

.cm-middle-label{
    margin-left: 33px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: STSong, serif;
    font-size: 18px;
}

.cm-middle-input{
    width: 380px;
    height: 40px;
    float: right;
}

input.ch{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

textarea.th{
    resize:none;
    background-color: rgba(255, 255, 255, 0.5);
}

.cm-middle-submit{
    margin: 0 126px;
    width: 250px;
}