body {
	margin:0px;
	padding:0px;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
	letter-spacing: 0.2px;
}

#container {
	margin:0;
	padding:0;
}

#left {
	position:absolute;
	top:0px;
	left:0px;
	margin:45px 0px;
	background:Pink;
	border-right: 1px solid #ff9db5;
	width:225px;
	height:100%;
}

#middle {
	position:relative;
	margin:20px 20px 20px 250px;
	width:auto;
	height:930px;
}

#RRR {
	width:100%;
	height:100%;
}

ul {
	list-style: none;
	width: 225px;
}

li {
	cursor: pointer;
}

/*------------ Main Menu ------------*/
.mainmenu {
	margin: 2px 0px;
	font-size: 16px;
	position:relative;
	padding:0;
}

.mainmenu > li {
	background-color: Pink;
	border-top: 2px solid #ff9db5;
	height: 48px;
	color: Black;
	box-sizing: border-box;
	position:relative;
	padding:0 0 0 40px;
}

.mainmenu > li:first-child {
	border-radius: 7px 7px 0 0;
	border-top: 0;
}

.mainmenu > li:last-child {
	border-radius: 0 0 7px 7px;
}

.mainmenu > li span {
	display:block;
	line-height: 48px;
}

.mainmenu > li .icon {
	float: left;
	width: 20px;
	height: 20px;
	display:block;
	position:absolute;
	left:10px;
	top:15px;
}

.mainmenu > li .messages {
	background: url("../images/messages.png") no-repeat;
	padding: 0;
	margin-top: -33px;
	margin-right: 19px;
	float: right;
	display: block;
	width: 34px;
	height: 18px;
	text-align: center;
	font-size: 11px;
	line-height: 19px;
}

.expand-triangle {
	background: url("../images/expand.gif") top left no-repeat;
	height: 10px;
	width: 225px;
	content: " ";
	margin-left: -40px;
}

/*------------ Sub Menu ------------*/
.submenu {
	box-sizing: border-box;
	color: Black;
	font-size: 13px;
	content: " ";
	/*opacity: 0.5;*/
}

.submenu li {
	line-height: 20px;
	height: 35px;
	padding-top: 11px;
	margin-left: -40px;
	background-color: #ff9db5;
	border-left: solid 6px #bb92f7;
	transition: border-left 220ms ease-in;
}

.submenu .chosen,
.submenu .chosen:hover {
	border-left: solid 6px #96d145;
}

.submenu li:hover {
	border-left: solid 6px #f5f743;
}

.submenu li span {
	margin-left:30px;
}

.animate {
	animation: flip 2000ms ease-in-out alternate;
}

@keyframes flip {
	to {
		transform: rotateY(360deg);
	}
}