<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cmtwo.mapper.CommodityMapper">

    <!--获得五个各类商品信息-->
    <select id="getComByClass" resultType="com.example.cmtwo.bean.Commodity">
        select * from commodity where classification = #{Class} limit 5;
    </select>

    <!--获得五个最新商品信息-->
    <select id="getComByxx" resultType="com.example.cmtwo.bean.Commodity">
        select * from commodity order by Cid desc limit 5;
    </select>

    <!--获得更多的各类商品信息-->
    <select id="getMoreComByClass" resultType="com.example.cmtwo.bean.Commodity">
        select * from commodity where classification = #{Class} limit 20;
    </select>

    <!--获得更多新鲜商品信息-->
    <select id="getMoreComByxx" resultType="com.example.cmtwo.bean.Commodity">
        select * from commodity order by Cid desc limit 20;
    </select>

    <!--通过id查询商品信息，用于查看该商品详细信息-->
    <select id="getComById" resultType="com.example.cmtwo.bean.Commodity">
        select * from commodity where Cid = #{id};
    </select>

    <!--通过商品编号提取卖家数据-->
    <select id="getUserinfById" resultType="com.example.cmtwo.bean.Userinformation">
        select Userinformation.* from Userinformation inner join commodity on commodity.Uid =  Userinformation.Uid
        where  commodity.Cid = #{id};
    </select>

    <!--通过商家编号提取商家数据-->
    <select id="getUserinfByUId" resultType="com.example.cmtwo.bean.Userinformation">
        select * from Userinformation where  Userinformation.Uid = #{Uid};
    </select>

    <!--添加商品信息-->
    <insert id="insertCom" useGeneratedKeys="true" keyProperty="Cid" parameterType="com.example.cmtwo.bean.Commodity">
        insert into commodity(Uid, Cname, Price, Originalprice, Publicdata, Intro, Classification)
        values(#{Uid}, #{Cname}, #{Price}, #{Originalprice}, now(), #{Intro}, #{Classification})
    </insert>

    <update id="updataComPname">
        update commodity set Image = #{Image} where Cid = #{Cid};
    </update>
</mapper>